#ðŸ“Œ ExtracciÃ³n

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"

datos = pd.read_json(url)
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [2]:
print('La cantidad de filas y columnas del DataFrame es:')
datos.shape

La cantidad de filas y columnas del DataFrame es:

(7267, 6)

In [4]:
print('\nInformaciÃ³n general del DataFrame:\n')
datos.info()

InformaciÃ³n general del DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [17]:
print('\nEl tipo de dato de cada columna del DataFrame inicial:\n')
datos.dtypes

El tipo de dato de cada columna del DataFrame inicial:

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

##**NormalizaciÃ³n del DataFrame**

In [6]:
df = pd.json_normalize(datos.to_dict(orient='records'))
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [8]:
print('\nInformaciÃ³n general del DataFrame Normalizado:\n')
df.info()

InformaciÃ³n general del DataFrame Normalizado:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [9]:
print("\nValores ausentes por columna:")
print(df.isnull().sum())

Valores ausentes por columna:
customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [10]:
print("\nNÃºmero de filas duplicadas:", df.duplicated().sum())

NÃºmero de filas duplicadas: 0

InvestigaciÃ³n valores columnas

In [11]:
print("\nValores Ãºnicos en la columna 'Churn' (df['Churn'].unique()):")
print(df['Churn'].unique())

Valores Ãºnicos en la columna 'Churn' (df['Churn'].unique()):
['No' 'Yes' '']

In [14]:
print("\nValores Ãºnicos en otras columnas categÃ³ricas:")
categorical_columns_to_check = [
    'customer.gender', 'customer.Partner', 'customer.Dependents',
    'phone.PhoneService', 'phone.MultipleLines',
    'internet.InternetService', 'internet.OnlineSecurity',
    'internet.OnlineBackup', 'internet.DeviceProtection',
    'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies',
    'account.Contract', 'account.PaperlessBilling', 'account.PaymentMethod'
]

for col in categorical_columns_to_check:
    if col in df.columns:
        print(f"- {col}: {df[col].unique()}")

Valores Ãºnicos en otras columnas categÃ³ricas:
- customer.gender: ['Female' 'Male']
- customer.Partner: ['Yes' 'No']
- customer.Dependents: ['Yes' 'No']
- phone.PhoneService: ['Yes' 'No']
- phone.MultipleLines: ['No' 'Yes' 'No phone service']
- internet.InternetService: ['DSL' 'Fiber optic' 'No']
- internet.OnlineSecurity: ['No' 'Yes' 'No internet service']
- internet.OnlineBackup: ['Yes' 'No' 'No internet service']
- internet.DeviceProtection: ['No' 'Yes' 'No internet service']
- internet.TechSupport: ['Yes' 'No' 'No internet service']
- internet.StreamingTV: ['Yes' 'No' 'No internet service']
- internet.StreamingMovies: ['No' 'Yes' 'No internet service']
- account.Contract: ['One year' 'Month-to-month' 'Two year']
- account.PaperlessBilling: ['Yes' 'No']
- account.PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Columna de Cargos Totales

In [16]:
df['account.Charges.Total_numeric'] = pd.to_numeric(df['account.Charges.Total'], errors='coerce')

non_numeric_total_charges = df[df['account.Charges.Total_numeric'].isna()]['account.Charges.Total'].unique()
print(f"\nValores Ãºnicos que no son numÃ©ricos en 'account.Charges.Total': {non_numeric_total_charges}")
print(f"NÃºmero de filas con valores no numÃ©ricos en 'account.Charges.Total': {df['account.Charges.Total_numeric'].isna().sum()}")

Valores Ãºnicos que no son numÃ©ricos en 'account.Charges.Total': [' ']
NÃºmero de filas con valores no numÃ©ricos en 'account.Charges.Total': 11

In [19]:
non_numeric_mask = df['account.Charges.Total_numeric'].isna()
print("\nRegistros donde 'account.Charges.Total' no es numÃ©rico:")
print(df[non_numeric_mask])

Registros donde 'account.Charges.Total' no es numÃ©rico:
      customerID Churn customer.gender  customer.SeniorCitizen  \
975   1371-DWPAZ    No          Female                       0
1775  2520-SGTTA    No          Female                       0
1955  2775-SEFEE    No            Male                       0
2075  2923-ARZLG    No            Male                       0
2232  3115-CZMZD    No            Male                       0
2308  3213-VVOLG    No            Male                       0
2930  4075-WKNIU    No          Female                       0
3134  4367-NUYAO    No            Male                       0
3203  4472-LVYGI    No          Female                       0
4169  5709-LVOEQ    No          Female                       0
5599  7644-OMVMY    No            Male                       0

     customer.Partner customer.Dependents  customer.tenure phone.PhoneService  \
975               Yes                 Yes                0                 No
1775              Yes                 Yes                0                Yes
1955               No                 Yes                0                Yes
2075              Yes                 Yes                0                Yes
2232               No                 Yes                0                Yes
2308              Yes                 Yes                0                Yes
2930              Yes                 Yes                0                Yes
3134              Yes                 Yes                0                Yes
3203              Yes                 Yes                0                 No
4169              Yes                 Yes                0                Yes
5599              Yes                 Yes                0                Yes

     phone.MultipleLines internet.InternetService  ...  \
975     No phone service                      DSL  ...
1775                  No                       No  ...
1955                 Yes                      DSL  ...
2075                  No                       No  ...
2232                  No                       No  ...
2308                 Yes                       No  ...
2930                 Yes                      DSL  ...
3134                 Yes                       No  ...
3203    No phone service                      DSL  ...
4169                  No                      DSL  ...
5599                  No                       No  ...

     internet.DeviceProtection internet.TechSupport internet.StreamingTV  \
975                        Yes                  Yes                  Yes
1775       No internet service  No internet service  No internet service
1955                        No                  Yes                   No
2075       No internet service  No internet service  No internet service
2232       No internet service  No internet service  No internet service
2308       No internet service  No internet service  No internet service
2930                       Yes                  Yes                  Yes
3134       No internet service  No internet service  No internet service
3203                       Yes                  Yes                  Yes
4169                       Yes                   No                  Yes
5599       No internet service  No internet service  No internet service

     internet.StreamingMovies account.Contract account.PaperlessBilling  \
975                        No         Two year                       No
1775      No internet service         Two year                       No
1955                       No         Two year                      Yes
2075      No internet service         One year                      Yes
2232      No internet service         Two year                       No
2308      No internet service         Two year                       No
2930                       No         Two year                       No
3134      No internet service         Two year                       No
3203                       No         Two year                      Yes
4169                      Yes         Two year                       No
5599      No internet service         Two year                       No

          account.PaymentMethod account.Charges.Monthly account.Charges.Total  \
975     Credit card (automatic)                   56.05
1775               Mailed check                   20.00
1955  Bank transfer (automatic)                   61.90
2075               Mailed check                   19.70
2232               Mailed check                   20.25
2308               Mailed check                   25.35
2930               Mailed check                   73.35
3134               Mailed check                   25.75
3203  Bank transfer (automatic)                   52.55
4169               Mailed check                   80.85
5599               Mailed check                   19.85

      account.Charges.Total_numeric
975                             NaN
1775                            NaN
1955                            NaN
2075                            NaN
2232                            NaN
2308                            NaN
2930                            NaN
3134                            NaN
3203                            NaN
4169                            NaN
5599                            NaN

[11 rows x 22 columns]

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final