#ðŸ“Œ ExtracciÃ³n

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"

datos = pd.read_json(url)
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [2]:
print('La cantidad de filas y columnas del DataFrame es:')
datos.shape

La cantidad de filas y columnas del DataFrame es:

(7267, 6)

In [3]:
print('\nInformaciÃ³n general del DataFrame:\n')
datos.info()

InformaciÃ³n general del DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [4]:
print('\nEl tipo de dato de cada columna del DataFrame inicial:\n')
datos.dtypes

El tipo de dato de cada columna del DataFrame inicial:

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

###**NormalizaciÃ³n del DataFrame**

In [5]:
df = pd.json_normalize(datos.to_dict(orient='records'))
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [6]:
print('\nInformaciÃ³n general del DataFrame Normalizado:\n')
df.info()

InformaciÃ³n general del DataFrame Normalizado:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
print("\nValores ausentes por columna:")
print(df.isnull().sum())

Valores ausentes por columna:
customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [8]:
print("NÃºmero de filas duplicadas:", df.duplicated().sum())

NÃºmero de filas duplicadas: 0

In [9]:
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total         11
dtype: int64

In [10]:
print("Valores Ãºnicos par columnas con menos de 10 valores:\n")
for column in df.columns:
    num_val_unicos = df[column].nunique()
    if num_val_unicos < 10:
        valores_unicos = df[column].unique()
        print(f"Columna: {column} ({num_val_unicos} valores Ãºnicos)")
        print(f"Valores: {valores_unicos}\n")

Valores Ãºnicos par columnas con menos de 10 valores:

Columna: Churn (3 valores Ãºnicos)
Valores: ['No' 'Yes' '']

Columna: customer.gender (2 valores Ãºnicos)
Valores: ['Female' 'Male']

Columna: customer.SeniorCitizen (2 valores Ãºnicos)
Valores: [0 1]

Columna: customer.Partner (2 valores Ãºnicos)
Valores: ['Yes' 'No']

Columna: customer.Dependents (2 valores Ãºnicos)
Valores: ['Yes' 'No']

Columna: phone.PhoneService (2 valores Ãºnicos)
Valores: ['Yes' 'No']

Columna: phone.MultipleLines (3 valores Ãºnicos)
Valores: ['No' 'Yes' 'No phone service']

Columna: internet.InternetService (3 valores Ãºnicos)
Valores: ['DSL' 'Fiber optic' 'No']

Columna: internet.OnlineSecurity (3 valores Ãºnicos)
Valores: ['No' 'Yes' 'No internet service']

Columna: internet.OnlineBackup (3 valores Ãºnicos)
Valores: ['Yes' 'No' 'No internet service']

Columna: internet.DeviceProtection (3 valores Ãºnicos)
Valores: ['No' 'Yes' 'No internet service']

Columna: internet.TechSupport (3 valores Ãºnicos)
Valores: ['Yes' 'No' 'No internet service']

Columna: internet.StreamingTV (3 valores Ãºnicos)
Valores: ['Yes' 'No' 'No internet service']

Columna: internet.StreamingMovies (3 valores Ãºnicos)
Valores: ['No' 'Yes' 'No internet service']

Columna: account.Contract (3 valores Ãºnicos)
Valores: ['One year' 'Month-to-month' 'Two year']

Columna: account.PaperlessBilling (2 valores Ãºnicos)
Valores: ['Yes' 'No']

Columna: account.PaymentMethod (4 valores Ãºnicos)
Valores: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

###customerID

Tratar de simplificar el ID

In [11]:
df['customerID_clean'] = df['customerID'].str.replace(r'\D', '', regex=True)

In [12]:
df['customerID_clean'].is_unique

False

In [13]:
repetidos = df['customerID_clean'].value_counts()
repetidos = repetidos[repetidos > 1]
repetidos

customerID_clean
3096    5
3097    5
6734    5
1866    5
0621    5
       ..
3192    2
3186    2
3181    2
3178    2
3174    2
Name: count, Length: 1625, dtype: int64

In [14]:
df[df['customerID_clean'].isin(repetidos.index)]

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,customerID_clean
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4,0013
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,0013
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25,0013
10,0017-DINOC,No,Male,0,No,No,54,No,No phone service,DSL,...,No,Yes,Yes,No,Two year,No,Credit card (automatic),45.20,2460.55,0017
11,0017-IUDMW,No,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.80,8456.75,0017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7254,9972-VAFJJ,No,Female,1,Yes,No,53,Yes,No,Fiber optic,...,Yes,Yes,Yes,No,One year,Yes,Electronic check,94.00,4871.45,9972
7256,9975-GPKZU,No,Male,0,Yes,Yes,46,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),19.75,856.5,9975
7257,9975-SKRNR,No,Male,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.9,9975
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7,9992
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,9992

In [15]:
df.drop(columns='customerID_clean', inplace=True)

**No sirve sacarle las letrasl al ID para simplificarlo**

y utilizar sÃ³lo letras...

In [16]:
df['customerID_letras'] = df['customerID'].str.extract('([a-zA-Z]+)')

In [17]:
df['customerID_letras'].is_unique

False

In [18]:
df.drop(columns='customerID_letras', inplace=True)

tampoco sirviÃ³ con sÃ³lo letras. Trabajar con los ID originales

### Churn

In [19]:
#Eliminar registros de churn vacÃ­os
df = df[df['Churn'] != '']
df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

###Columna de Cargos Totales

In [20]:
import numpy as np

In [21]:
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                    0
Churn                         0
customer.gender               0
customer.SeniorCitizen        0
customer.Partner              0
customer.Dependents           0
customer.tenure               0
phone.PhoneService            0
phone.MultipleLines           0
internet.InternetService      0
internet.OnlineSecurity       0
internet.OnlineBackup         0
internet.DeviceProtection     0
internet.TechSupport          0
internet.StreamingTV          0
internet.StreamingMovies      0
account.Contract              0
account.PaperlessBilling      0
account.PaymentMethod         0
account.Charges.Monthly       0
account.Charges.Total        11
dtype: int64

In [22]:
df['account.Charges.Total'] = df['account.Charges.Total'].replace(" ", 0.0)

In [23]:
df['account.Charges.Total'] = df['account.Charges.Total'].astype(float)
df['account.Charges.Total']

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7262     742.90
7263    1873.70
7264      92.75
7265    4627.65
7266    3707.60
Name: account.Charges.Total, Length: 7043, dtype: float64

###CreaciÃ³n columna Cuentas_Diarias

In [25]:
df['Cargos_Diarios'] = df['account.Charges.Monthly'] / 30
print(df[['account.Charges.Monthly', 'Cargos_Diarios']])

      account.Charges.Monthly  Cargos_Diarios
0                       65.60        2.186667
1                       59.90        1.996667
2                       73.90        2.463333
3                       98.00        3.266667
4                       83.90        2.796667
...                       ...             ...
7262                    55.15        1.838333
7263                    85.10        2.836667
7264                    50.30        1.676667
7265                    67.85        2.261667
7266                    59.00        1.966667

[7043 rows x 2 columns]

###EstandarizaciÃ³n t transformaciÃ³n de datos

In [26]:
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [27]:
columnas_trans = [
    'customer.Partner',
    'customer.Dependents',
    'phone.PhoneService',
    'account.PaperlessBilling'
]

mapeo_binario = {'Yes': 1 , 'No': 0}

for col in columnas_trans:
    df[col] = df[col].map(mapeo_binario)
    print(f"Valores para '{col}' despuÃ©s de la conversiÃ³n:")
    print(df[col].value_counts())

Valores para 'customer.Partner' despuÃ©s de la conversiÃ³n:
customer.Partner
0    3641
1    3402
Name: count, dtype: int64
Valores para 'customer.Dependents' despuÃ©s de la conversiÃ³n:
customer.Dependents
0    4933
1    2110
Name: count, dtype: int64
Valores para 'phone.PhoneService' despuÃ©s de la conversiÃ³n:
phone.PhoneService
1    6361
0     682
Name: count, dtype: int64
Valores para 'account.PaperlessBilling' despuÃ©s de la conversiÃ³n:
account.PaperlessBilling
1    4171
0    2872
Name: count, dtype: int64

In [28]:
nuevos_nombres_columnas = {
    'customerID': 'ID_Cliente',
    'Churn': 'Abandono',
    'customer.gender': 'Genero',
    'customer.SeniorCitizen': 'Adulto_Mayor',
    'customer.Partner': 'Pareja',
    'customer.Dependents': 'Dependientes',
    'customer.tenure': 'Antiguedad_Meses',
    'phone.PhoneService': 'Servicio_Telefonico',
    'phone.MultipleLines': 'Multiples_Lineas',
    'internet.InternetService': 'Servicio_Internet',
    'internet.OnlineSecurity': 'Seguridad_Online',
    'internet.OnlineBackup': 'Copia_Seguridad_Online',
    'internet.DeviceProtection': 'Proteccion_Dispositivo',
    'internet.TechSupport': 'Soporte_Tecnico',
    'internet.StreamingTV': 'Streaming_TV',
    'internet.StreamingMovies': 'Streaming_Peliculas',
    'account.Contract': 'Contrato',
    'account.PaperlessBilling': 'Facturacion_Sin_Papel',
    'account.PaymentMethod': 'Metodo_Pago',
    'account.Charges.Monthly': 'Cargos_Mensuales',
    'account.Charges.Total': 'Cargos_Totales'
}

# Rename the columns
df = df.rename(columns=nuevos_nombres_columnas)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_Cliente              7043 non-null   object
 1   Abandono                7043 non-null   int64
 2   Genero                  7043 non-null   object
 3   Adulto_Mayor            7043 non-null   int64
 4   Pareja                  7043 non-null   int64
 5   Dependientes            7043 non-null   int64
 6   Antiguedad_Meses        7043 non-null   int64
 7   Servicio_Telefonico     7043 non-null   int64
 8   Multiples_Lineas        7043 non-null   object
 9   Servicio_Internet       7043 non-null   object
 10  Seguridad_Online        7043 non-null   object
 11  Copia_Seguridad_Online  7043 non-null   object
 12  Proteccion_Dispositivo  7043 non-null   object
 13  Soporte_Tecnico         7043 non-null   object
 14  Streaming_TV            7043 non-null   object
 15  Streaming_Peliculas     7043 non-null   object
 16  Contrato                7043 non-null   object
 17  Facturacion_Sin_Papel   7043 non-null   int64
 18  Metodo_Pago             7043 non-null   object
 19  Cargos_Mensuales        7043 non-null   float64
 20  Cargos_Totales          7043 non-null   float64
 21  Cargos_Diarios          7043 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 1.2+ MB

#ðŸ“Š Carga y anÃ¡lisis

In [30]:
df.describe()

,Abandono,Adulto_Mayor,Pareja,Dependientes,Antiguedad_Meses,Servicio_Telefonico,Facturacion_Sin_Papel,Cargos_Mensuales,Cargos_Totales,Cargos_Diarios
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.265370,0.162147,0.483033,0.299588,32.371149,0.903166,0.592219,64.761692,2279.734304,2.158723
std,0.441561,0.368612,0.499748,0.458110,24.559481,0.295752,0.491457,30.090047,2266.794470,1.003002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.608333
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,35.500000,398.550000,1.183333
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,70.350000,1394.550000,2.345000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,89.850000,3786.600000,2.995000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,118.750000,8684.800000,3.958333

#ðŸ“„Informe final